
body{
box-sizing: border-box;

position: relative;
width: 1728px;
height: 1117px;

background: rgba(167, 191, 169, 0.74);
}

#leftside{
position: absolute;
width: 509px;
height: 670px;
left: 120px;
top: 223px;

background: #FFFFFF;
border-radius: 58px;

}

#Find_me_a_recipe_for{
/* Find me a recipe for text box */

position: absolute;
width: 307px;
height: 116px;
left: 120px;
top: 123px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 58px;

color: #000000;


}

#submit{
/* SEARCH textbox */

position: absolute;
width: 134px;
height: 39px;
left: 308px;
top: 704px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 39px;
/* identical to box height */

color: #FFFFFF;


}

#submit{
box-sizing: border-box;

position: absolute;
width: 349px;
height: 93px;
left: 80px;
top: 477px;

background: rgba(10, 39, 13, 0.68);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 30px;
}

input[type=text]{
position: absolute;
width: 300px;
height: 70px;
left: -20px;
top: 204px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 39px;
/* identical to box height */

color: #0a0909;
}

#rightside{
    box-sizing: border-box;
    
    position: absolute;
    width: 691px;
    height: 637px;
    left: 846px;
    top: 231px;
    
    background: #F8F8F8;
    border-radius: 58px;
    }

#description{

    position: absolute;
    width: 630px;
    height: 58px;
    left: 46px;
    top: 150px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 58px;
    /* identical to box height */
    
    color: #000000;
}

#original_video_url{

    position: absolute;
    width: 550px;
    height: 58px;
    left: 46px;
    top: 500px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 58px;
    /* identical to box height */
    
    color: #000000;
}

#recipename {


position: absolute;
width: 650px;
height: 58px;
left: 46px;
top: 5px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 58px;
/* identical to box height */

color: #000000;


    }



